# Ignore Google Cloud credentials
chatbot-myauris-auth.json

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.env
venv/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode settings
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
